<div class="jumbotron">
    <h1>Tasks Control</h1>
    <p class="lead">Here, you can organize your commitments.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            You can check the documentation by click @Html.ActionLink("here", "Index", "Help", new { area = "" }, null).
        </p>
    </div>
</div>
